
.body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.tabsContiner {
    width: 100%;
    height: 94vh;
}

.titleTabs{
    user-select: none;
}

.chartContent {
    width: 100%;
    height: 60vh;
}

.archiveContent {
    width: 100%;
    height: 28vh;
    margin-top: 5px;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 10px;
    user-select: none;
}

.chartContent {
    width: 100%;
    height: 55vh;
    padding: 0.5px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.outterContainerChart{
    width: 69.6%;
    border: 1px solid black;
    border-radius: 5px;
}
.chart {
    width: 100%;
    height: 85%;
    overflow: hidden;
}

.groupLegends-dataTable {
    width: 30%;
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 7px;
    user-select: none;
}

.dataTable{
    height: 100%;
    width: 29.5%;
    border: 1px solid black;
    border-radius: 5px;
    overflow-x: hidden;
    margin-left: 1%;
    user-select: none;
}

td{
    border: 1px solid black;
}


@media (max-height: 700px) {
    body{
        overflow: scroll;
    }
    .chart {
        height: 92%;
    }
    .groupLegends-dataTable {
        overflow: scroll;
        margin-top: 5%;
    }
}

@media (max-width: 1200px) {
    body {
        font-size: 0.8em;
    }
    button{
        font-size: 0.5em;
    }
    
    .chartContent {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        border-radius: 5px;
    }
    .outterContainerChart {
        width: 100%;
        height: 60vh;
    }
    .chart {
        width: 100%;
        height: 92%;
        border-radius: 5px;
    }
    .groupLegends-dataTable {
        width: 100%;
        height: 40vh;
        margin-left: 0;
        display: flex;
    }
    
    .dataTable {
        height: 40vh;
        width: 100%;
        border-radius: 5px;
        margin-top: 1%;
        margin-left: 0px;
    }
    #splitterVertical, #horizontalSplitter {
        display: none;
    }
    .archiveControls {
        flex-direction: column;
    }

    .table {
        width: 100%;
    }

}

@media (max-width: 1000px){
    .archiveControls {
        flex-direction: column;
    }
}