body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.barMneu {
  height: 5vh;
}


.leftPnael{
  width: 3%;
  min-width: 3%;
}

.innerContiner{
  width: 100%;
  margin-left: 5px;
}


.tr {
  width: 25%;
}




