.leftMenu{
    width: 15vw;
    height: 70%;
    position: absolute;
    z-index: 1000;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 5%;
    margin-left: -360px;
}


.btnMenu {
    cursor: pointer;
}
.b1,
.b2,
.b3 {
    width: 36px;
    height: 5px;
    background-color: #000;
    margin: 5px 0;
    transition: 0.3s;
}

@media (max-height: 700px) {
    .leftMenu {
        margin-top: 15%;
    }
}

@media (max-width: 1200px) {
    .b1,
    .b2,
    .b3 {
        width: 25px;
    }
}

@media (max-width: 800px) {

    .b1,
    .b2,
    .b3 {
        width: 20px;
    }
}

@media (max-width: 800px) {
    .btnMenu {
        margin-top: 3px;
    }

    .b1,
    .b2,
    .b3 {
        width: 15px;
    }
}